{% extends 'base.html' %}
{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container py-5" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded">
                <div class="card-header text-center bg-success text-white">
                    <h3>Registration</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-4">
                            <input type="text" name="username" class="form-control" placeholder="Username" required>
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
                            <label for="confirmpassword">Confirm Password</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
                        </div>
                    </form>
                    <p>Already have an account? <a href="{% url 'userapp:login' %}">Log in here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
