{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5" style="padding-bottom: 52px;">
        <h2>Update Profile</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        <a href="{% url 'userapp:profile' %}" class="btn btn-secondary mt-3">Back to Profile</a>
    </div>

{% endblock %}
